<app-team-comp
   componentId="t1"
   teamName="Sarezzo"
   teamColor="#ff0000"
   (componentClicked)="TeamClicked($event)"
   [isSelected]="'t1' == currTeam"
>
</app-team-comp>
<app-player-comp
   componentId="pl1"
   playerNumber="24"
   playerName="Briant K."
   [playerFouls]="4"
   playerMinutes="00:00"
   [playerPoints]="32"
   colorSelected="#007700"
   (componentClicked)="PlayerClicked($event)"
   [isSelected]="'pl1' == currPlayer">
</app-player-comp>
<app-player-comp
   componentId="pl2"
   playerNumber="32"
   playerName="James L."
   [playerFouls]="2"
   playerMinutes="00:00"
   [playerPoints]="28"
   colorSelected="#007700"
   (componentClicked)="PlayerClicked($event)"
   [isSelected]="'pl2' == currPlayer">
</app-player-comp>
<app-player-comp
   componentId="pl3"
   playerNumber="18"
   playerName="Magic J."
   [playerFouls]="4"
   playerMinutes="00:00"
   [playerPoints]="32"
   colorSelected="#007700"
   (componentClicked)="PlayerClicked($event)"
   [isSelected]="'pl3' == currPlayer">
</app-player-comp>
<app-player-comp
   componentId="pl4"
   playerNumber="32"
   playerName="Kareem A."
   [playerFouls]="2"
   playerMinutes="00:00"
   [playerPoints]="36"
   colorSelected="#007700"
   (componentClicked)="PlayerClicked($event)"
   [isSelected]="'pl4' == currPlayer">
</app-player-comp>
<app-player-comp
   componentId="pl5"
   playerNumber="8"
   playerName="Chamberlein W."
   [playerFouls]="4"
   playerMinutes="00:00"
   [playerPoints]="32"
   colorSelected="#007700"
   (componentClicked)="PlayerClicked($event)"
   [isSelected]="'pl5' == currPlayer">
</app-player-comp>

<app-bench-comp
   componentId="b1"
   playerName="Briant K."
   playerNum="24"
   (componentClicked)="BenchClicked($event)"
   [isSelected]="'b1' == currBench"
>
</app-bench-comp>
<app-bench-comp
   componentId="b2"
   playerName="Chamberlein W."
   playerNum="8"
   (componentClicked)="BenchClicked($event)"
   [isSelected]="'b2' == currBench"
>
</app-bench-comp>

<div class="flex"
     style="display: flex; align-items: stretch; gap: 10px;">
   <div style="display: flex; flex-direction: column; gap: 5px;">
      <app-points-comp
         componentId="tl"
         title="T.L."
         colorNormal1="#444400"
         colorNormal2="#888800"
         colorSelected1="#dddddd"
         colorSelected2="#dddddd"
         (componentClicked)="BenchClicked($event)"
         [isSelected]="'tl' == currBench">
      </app-points-comp>
      <app-points-comp
         componentId="t2"
         title="T.2"
         colorNormal1="#444400"
         colorNormal2="#888800"
         colorSelected1="#dddddd"
         colorSelected2="#dddddd"
         btn1Label="Tap<br>OUT"
         btn2Label="Tap<br>IN"
         (componentClicked)="BenchClicked($event)"
         [isSelected]="'t2' == currBench">
      </app-points-comp>
      <app-points-comp
         componentId="t3"
         title="T.3"
         colorNormal1="#444400"
         colorNormal2="#888800"
         colorSelected1="#dddddd"
         colorSelected2="#dddddd"
         (componentClicked)="BenchClicked($event)"
         [isSelected]="'t3' == currBench">
      </app-points-comp>
   </div>
   <div style="display: flex; flex-direction: column; gap: 5px;">
      <app-data-comp
         componentId="d1"
         title="Rimb."
         colorNormal1="#004444"
         colorNormal2="#008888"
         colorSelected1="#dddddd"
         colorSelected2="#dddddd"
         titolo1="Difesa"
         dato1="12"
         titolo2="Attacco"
         dato2="10"
         dato="Totali 22"
         (componentClicked)="BenchClicked($event)"
         [isSelected]="'d1' == currBench">
      </app-data-comp>
      <app-data-comp
         componentId="d2"
         title="Palle"
         colorNormal1="#004444"
         colorNormal2="#008888"
         colorSelected1="#dddddd"
         colorSelected2="#dddddd"
         titolo1="Perse"
         dato1="12"
         colorDato1="#ff7777"
         titolo2="Recup."
         dato2="10"
         colorDato2="#77ff77"
         dato=""
         (componentClicked)="BenchClicked($event)"
         [isSelected]="'d2' == currBench">
      </app-data-comp>
      <app-data-comp
         componentId="d3"
         title="Stop."
         colorNormal1="#004444"
         colorNormal2="#008888"
         colorSelected1="#dddddd"
         colorSelected2="#dddddd"
         titolo1="Subite"
         dato1="12"
         colorDato1="#ff7777"
         titolo2="Fatte"
         dato2="10"
         colorDato2="#77ff77"
         dato=""
         (componentClicked)="BenchClicked($event)"
         [isSelected]="'d3' == currBench">
      </app-data-comp>
   </div>
   <div style="display: flex; flex-direction: column; justify-content: space-between; gap: 5px;">
      <app-data-comp
         componentId="d2"
         title="Ass."
         colorNormal1="#004444"
         colorNormal2="#008888"
         colorSelected1="#dddddd"
         colorSelected2="#dddddd"
         titolo1="Assist"
         dato1="12"
         (componentClicked)="BenchClicked($event)"
         [isSelected]="'d2' == currBench">
      </app-data-comp>
      <app-data-comp
         componentId="d3"
         title="Falli"
         colorNormal1="#4d3434"
         colorNormal2="#a42e2e"
         colorSelected1="#dddddd"
         colorSelected2="#dddddd"
         titolo1="Fatti"
         dato1="12"
         colorDato1="#ff7777"
         titolo2="Subiti"
         dato2="10"
         colorDato2="#77ff77"
         dato=""
         (componentClicked)="BenchClicked($event)"
         [isSelected]="'d3' == currBench">
      </app-data-comp>
   </div>
</div>
<div id="main_container">
   <div class="card flex justify-content-start"
        id="div-page-header">
      <p-card [style]="{ width: '100%' }"
              contentStyleClass="card-contenuto-ridotto">
         <div style="display: flex; align-items: center;">
            <h2 style="margin-left: 15px; margin-right: 30px; margin-bottom: 0px; margin-top: 0px; padding-bottom: 0px; padding-top: 0px;">Dashboard</h2>

            <p-button
               class="p-button-table"
               icon="pi pi-refresh"
               severity="secondary"
               pTooltip="Refresh"
               tooltipPosition="top"
               (click)="RefreshData()"
            ></p-button>

            <p-divider layout="vertical" />

            <div class="form-group">
               <label for="cbstagione" style="margin-right: 5px;">Società:</label>
               <label for="cbstagione" style="margin-right: 10px; font-size: 1.5em"><b>dev</b></label>
            </div>

            <p-divider layout="vertical" />

            <div class="form-group">
               <label for="cbstagione" style="margin-right: 10px;">Stagione:</label>
               <p-dropdown
                  id="cbstagione"
                  [style]="{'min-width': '255px'}"
                  [options]="listaStagioni"
                  optionLabel="nome"
                  [(ngModel)]="currSeason"
                  [checkmark]="true"
                  [showClear]="false"
                  [scrollHeight]="'300px'"
                  (onChange)="OnSeasonChange($event)"/>
            </div>

         </div>
      </p-card>
   </div>

   <p-blockUI [blocked]="CheckLoading()">
      <p-progressSpinner></p-progressSpinner>
   </p-blockUI>

   <div id="div-tabella-bottoni">
      <div class="card flex justify-content-start"
           id="div-camp-fasi">
         <p-card [style]="{ 'width': '100%', 'padding': '2px' }"
                 header="Campionati"
                 contentStyleClass="card-contenuto-ridotto">
            <ng-template pTemplate="content">
               <div>
                  <app-timer-comp
                     instanceId="cronometro"
                     (timeUpdated)="onTimeUpdate($event)"
                     (started)="onTimerEvent($event)"
                     (stopped)="onTimerEvent($event)">
                  </app-timer-comp>
               </div>
            </ng-template>
         </p-card>
         <p-card [style]="{ 'width': '100%', 'padding': '2px', 'margin-left': '30px' }"
                 header="Fase"
                 contentStyleClass="card-contenuto-ridotto">
            <p-divider></p-divider>
         </p-card>
         <!--
         <p-table
            id="eventsTable"
            #eventsTable
            class="custom-header-table"
            styleClass="p-datatable-gridlines"
            [scrollHeight]="scrollHeight"
            [scrollable]="true"
            [value]="listaEventi"
            selectionMode="single"
            [(selection)]="currEvent"
            (onRowSelect)="OnRowSelected($event)"
            (onRowUnselect)="OnRowUnselected($event)"
            dataKey="id"
            [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
               <tr>
                  <th style="width: 65px;">Id</th>
                  <th style="width: 130px;">Data</th>
                  <th style="width: 55px;">Ora</th>
                  <th style="width: 55px;">Fine</th>
                  <th style="width: 65px;">Pal.
                     <button pButton
                             type="button"
                             icon="pi pi-filter"
                             class="p-button-icon-only my-tiny-button"
                             [ngClass]="{ 'p-button-success': fltrRisorsa, 'p-button-secondary': !fltrRisorsa }"
                             (click)="OnFilterRisorsa()"></button>
                  </th>
                  <th style="width: 100px;">Gruppo
                     <button pButton
                             type="button"
                             icon="pi pi-filter"
                             class="p-button-icon-only my-tiny-button"
                             [ngClass]="{ 'p-button-success': fltrGruppo, 'p-button-secondary': !fltrGruppo }"
                             (click)="OnFilterGruppo()"></button>
                  </th>
                  <th>Casa</th>
                  <th>Ospite</th>
                  <th>Luogo</th>
                  <th>Commento</th>
                  <th>Arb.</th>
               </tr>
            </ng-template>
            <ng-template pTemplate="body" let-evento let-rowIndex="rowIndex">
               <tr [pSelectableRow]="evento"
                   [ngClass]="GetRowColorClass(evento)">
                  <td><span style="font-size: 0.6em;">{{ evento.id }}</span></td>
                  <td>{{ GetFormattedDate(evento, rowIndex) }}</td>
                  <td><b>{{ FormattaOrario (evento.orainizio) }}</b></td>
                  <td><span style="font-size: 0.7em;">{{ FormattaOrario (evento.orafine) }}</span></td>
                  <td [ngStyle]="ColoreRisorsa(evento)">{{ evento.risorsa }}</td>
                  <td [ngStyle]="ColoreGruppo(evento)">{{ evento.gruppo }}</td>
                  <td [ngStyle]="ColoreTipoEvento(evento)">{{ evento.casa }}</td>
                  <td [ngStyle]="ColoreTipoEvento(evento)">{{ evento.ospite }}</td>
                  <td [ngStyle]="ColoreTipoEvento(evento)">{{ evento.luogo }}</td>
                  <td>{{ evento.commento }}</td>
                  <td>
                     <p-checkbox
                        [binary]="true"
                        [ngModel]="evento.arbitraggio" [disabled]="true">
                     </p-checkbox>
                  </td>
               </tr>
            </ng-template>
         </p-table>
         -->
      </div>

      <div id="div-partite">
         <p-card [style]="{ width: '100%' }"
                 header="Partite"
                 contentStyleClass="card-contenuto-ridotto">
         </p-card>
      </div>

      <div class="card flex justify-content-start"
         id="div-bottoni">
         <p-card [style]="{ width: '100vw' }"
                 contentStyleClass="card-contenuto-ridotto">
            <div class="bottoni-container">
               <p-button label="Apri match"
                         *ngIf="EditEnabled()"
                         severity="primary"
                         icon="pi pi-pencil"
                         class="btn-fisso"
                         (click)="OnEdit()"></p-button>
               <p-button label="Nuovo match"
                         *ngIf="AddEnabled()"
                         severity="primary"
                         icon="pi pi-plus"
                         class="btn-fisso"
                         (click)="OnAdd()"></p-button>
               <p-button label="Elimina match"
                         *ngIf="DeleteEnabled()"
                         severity="warning"
                         icon="pi pi-trash"
                         class="btn-fisso"
                         (click)="OnDelete()"></p-button>
            </div>
         </p-card>
      </div>
   </div>
</div>
