


.form-container
{
   display: flex;
   /*justify-content: center;*/
   align-items: start;
   height: 480px;
   width: 500px !important;
   margin-top: 15px !important;
   border: solid 1px black;

   mat-card {
      width: 400px;
      color: white;
   }

   mat-form-field {
      width: 100%;
      margin-bottom: 8px;
      margin-top: 8px;
   }

}


.match-roster-card-header {
   color: yellow;
   font-size: 30px;
   font-weight: bolder;
   margin: 1px !important;
   padding: 1px !important;
}


.match-roster-card-title {
   color: white;
   font-size: 22px;
   font-weight: bold;
   font-style: italic;
   margin: 1px !important;
   padding: 1px !important;
}


.form-group {
   display: flex;
   align-items: center;
   margin-bottom: 0.25rem;
}

.form-group label {
   width: 160px; /* larghezza fissa per allineamento */
   margin-right: 1rem;
   font-weight: bold;
}

.form-group input,
.form-group p-inputgroup {
   flex: 1;
}

.dialog-footer-buttons {
   display: flex;
   justify-content: flex-end;
   gap: 0.2rem;
   margin-left: auto !important;
}

