
<div id="player-edit-form"
     class="form-container">
   <p-card>

      <ng-template pTemplate="header">
         <p class="player-edit-card-header">Player</p>
      </ng-template>

      <ng-template pTemplate="title">
         <p class="player-edit-card-title">{{titoloDiag}}</p>
      </ng-template>

      <ng-template pTemplate="content">
         <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text"
                   id="nome"
                   [(ngModel)]="thePlayer.nomedisp"
                   pInputText
                   required
                   #dialogError="ngModel"/>
         </div>

         <div class="form-group">
            <label for="abbrev">Numero:</label>
            <input type="text"
                   id="numero"
                   [(ngModel)]="thePlayer.numero"
                   pInputText
                   #dialogError="ngModel"/>
         </div>

         <div class="form-group">
            <label for="abbrev">Ruolo:</label>
            <input type="text"
                   id="ruolo"
                   [(ngModel)]="thePlayer.ruolo"
                   pInputText
                   #dialogError="ngModel"/>
         </div>

         <div class="form-group">
            <label for="abbrev">Anno:</label>
            <input type="number"
                   id="anno"
                   [(ngModel)]="thePlayer.anno"
                   pInputText
                   required
                   #dialogError="ngModel"/>
         </div>

         <div class="form-group">
            <label for="abbrev">Altezza:</label>
            <input type="number"
                   id="altezza"
                   [(ngModel)]="thePlayer.altezza"
                   pInputText
                   required
                   #dialogError="ngModel"/>
         </div>

      </ng-template>

      <ng-template pTemplate="footer">

         <div class="flex justify-content-between align-items-center w-full"
              style="background-color: #161c2d;">
            <div class="flex dialog-footer-buttons">
               <button
                  pButton
                  type="button"
                  label="Annulla"
                  class="p-button-secondary"
                  (click)="Annulla()"
               ></button>
               <button
                  pButton
                  type="button"
                  label="OK"
                  class="p-button-success"
                  (click)="Salva()"
               ></button>
            </div>
         </div>
      </ng-template>
   </p-card>
</div>
