.card-container {
   display: flex;
   align-items: stretch;
   gap: 0;
}

.custom-card-tabelle {
   flex: 1;
   margin: 0px;
   padding: 0px;
   max-width: 400px !important;
}

.custom-card {
   flex: 1;
   margin: 0px;
   padding: 0px;
}

.divider-wrapper {
   display: flex;
   align-items: stretch;
   margin: 10px 4px;
   padding: 0;
}

.divider-wrapper p-divider {
   margin: 0 !important;
   padding: 0 !important;
   border: none;
}

.no-header-table ::ng-deep thead {
   display: none;
}

.bottoni-container {
   display: flex;
   gap: 1rem;
   align-items: center;
   justify-content: flex-start;
   margin: 1px !important;
   padding: 1px !important;
   /*background-color: red;*/
}

.card-header-personalizzato {
   background-color: #422d6b;
   padding: 0.7rem;
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
}

.card-header-personalizzato h3 {
   font-size: 1.5rem;
   font-weight: 700;
   margin: 0;
}

:host ::ng-deep .highlight-text {
   color: yellow !important;
}

:host ::ng-deep .white-text {
   color: white !important;
}


::ng-deep .p-button-table .p-button {
   max-height: 28px !important;
   min-height: 28px !important;
   height: 28px !important;
   line-height: 28px !important;
   margin-top: 1px !important;
   margin-bottom: 1px !important;
   margin-right: 8px !important;
}


::ng-deep .custom-header-table .p-datatable-thead > tr > th {
   background-color: #422d6b !important;
   color: #ffe378 !important;
   font-weight: bold;
   font-size: 1.2em;
   border-bottom: 2px solid #3949ab;
   border-right: none !important;
}


.dynamic-vert-pos {
   position: relative;
   transition: top 0.25s ease;
}





::ng-deep .custom-header-table .p-button {
   min-height: 2.5rem;
}


::ng-deep .action-button {
   width: 2.5rem;
   height: 2.5rem;
   padding: 0;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   font-size: 1.2rem;
   border: none;
   border-radius: 50%;
   cursor: pointer;
}

::ng-deep .edit-button {
   color: white;
}

::ng-deep .delete-button {
   color: white;
}

/*
::ng-deep .p-datatable .p-datatable-tbody > tr > td {
   padding-top: 0.08rem;
   padding-bottom: 0.08rem;
   line-height: 1.0;
}
*/

::ng-deep .p-card .p-card-body {
   padding: 1px !important;
   margin-top: 12px !important;
   margin-bottom: 6px !important;
}


::ng-deep .p-card .p-card-content {
   padding-top: 1px !important;
   padding-bottom: 1px !important;
   margin-top: 1px !important;
   margin-bottom: 1px !important;
}

.row-bck-0 {
   background-color: #161c2d; /* Un rosso chiaro */
}

.row-bck-1 {
   background-color: #1a2136; /* Un verde chiaro */
}

.row-bck-2 {
   background-color: #1e273f; /* Un giallo chiaro */
}




