
<p-blockUI [blocked]="isLoading">
   <p-progressSpinner></p-progressSpinner>
</p-blockUI>

<div class="db-pagina">

   <!--  Titolo  -->
   <div class="db-riquadro db-titolo">
      <h2>Database</h2>
      <p-button
         icon="pi pi-refresh"
         severity="secondary"
         pTooltip="Ricarica i dati"
         tooltipPosition="top"
         (click)="Aggiorna()"
      ></p-button>
   </div>

   <!--  Livelli "lenti": Società > Stagione > Campionato  -->
   <div class="db-riquadro db-filtri">

      <div class="db-filtro">
         <label for="db-societa">Società</label>
         <div class="db-filtro-riga">
            <p-dropdown
               inputId="db-societa"
               styleClass="db-combo db-combo-largo"
               [options]="listaSocieta"
               optionLabel="nome"
               dataKey="id"
               placeholder="Scegli la società"
               appendTo="body"
               [(ngModel)]="selSocieta"
               (onChange)="OnSocietaChange()"/>
            <ng-container *ngTemplateOutlet="bottoniLivello; context: { $implicit: 'societa' }"></ng-container>
         </div>
      </div>

      <div class="db-filtro">
         <label for="db-stagione">Stagione</label>
         <div class="db-filtro-riga">
            <p-dropdown
               inputId="db-stagione"
               styleClass="db-combo"
               [options]="listaStagioni"
               optionLabel="nome"
               dataKey="id"
               placeholder="Scegli la stagione"
               appendTo="body"
               [disabled]="!selSocieta"
               [(ngModel)]="selSeason"
               (onChange)="OnStagioneChange()"/>
            <ng-container *ngTemplateOutlet="bottoniLivello; context: { $implicit: 'stagione' }"></ng-container>
         </div>
      </div>

      <div class="db-filtro">
         <label for="db-campionato">Campionato</label>
         <div class="db-filtro-riga">
            <p-dropdown
               inputId="db-campionato"
               styleClass="db-combo db-combo-largo"
               [options]="listaCampionati"
               optionLabel="nome"
               dataKey="id"
               placeholder="Scegli il campionato"
               appendTo="body"
               [disabled]="!selSeason"
               [(ngModel)]="selChamp"
               (onChange)="OnCampionatoChange()"/>
            <ng-container *ngTemplateOutlet="bottoniLivello; context: { $implicit: 'campionato' }"></ng-container>
         </div>
      </div>

   </div>

   <!--  Livelli di uso quotidiano: due colonne con schede  -->
   <div class="db-colonne">

      <!--  Sinistra: Squadre | Fasi (dipendono entrambe dal Campionato)  -->
      <div class="db-riquadro db-pannello">
         <div class="db-schede">
            <button type="button"
                    class="db-scheda"
                    [class.db-scheda-attiva]="tabSinistra == 'fasi'"
                    (click)="SetTabSinistra('fasi')">Fasi</button>
            <button type="button"
                    class="db-scheda"
                    [class.db-scheda-attiva]="tabSinistra == 'squadre'"
                    (click)="SetTabSinistra('squadre')">Squadre</button>
         </div>

         <p-table
            *ngIf="tabSinistra == 'squadre'"
            class="db-tabella no-header-table"
            [value]="listaSquadre"
            [scrollable]="true"
            scrollHeight="flex"
            selectionMode="single"
            dataKey="id"
            [metaKeySelection]="false"
            [(selection)]="selTeam"
            (onRowSelect)="OnSquadraSelect()"
            (onRowUnselect)="OnSquadraUnselect()">
            <ng-template pTemplate="body" let-rowData>
               <tr [pSelectableRow]="rowData">
                  <td *ngFor="let col of colTeam" [attr.style]="col.style">{{ rowData[col.field] }}</td>
               </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
               <tr><td class="db-vuoto">{{ selChamp ? 'Nessuna squadra in questo campionato' : 'Scegli un campionato' }}</td></tr>
            </ng-template>
         </p-table>

         <p-table
            *ngIf="tabSinistra == 'fasi'"
            class="db-tabella no-header-table"
            [value]="listaFasi"
            [scrollable]="true"
            scrollHeight="flex"
            selectionMode="single"
            dataKey="id"
            [metaKeySelection]="false"
            [(selection)]="selPhase">
            <ng-template pTemplate="body" let-rowData>
               <tr [pSelectableRow]="rowData">
                  <td *ngFor="let col of colPhase" [attr.style]="col.style">{{ rowData[col.field] }}</td>
               </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
               <tr><td class="db-vuoto">{{ selChamp ? 'Nessuna fase in questo campionato' : 'Scegli un campionato' }}</td></tr>
            </ng-template>
         </p-table>

         <ng-container *ngTemplateOutlet="bottoniPannello; context: { $implicit: LivelloSinistra() }"></ng-container>
      </div>

      <!--  Destra: Giocatori | Allenatori della squadra scelta  -->
      <div class="db-riquadro db-pannello">
         <div class="db-schede">
            <button type="button"
                    class="db-scheda"
                    [class.db-scheda-attiva]="tabDestra == 'giocatori'"
                    (click)="SetTabDestra('giocatori')">Giocatori</button>
            <button type="button"
                    class="db-scheda"
                    [class.db-scheda-attiva]="tabDestra == 'allenatori'"
                    (click)="SetTabDestra('allenatori')">Allenatori</button>
            <span *ngIf="selTeam" class="db-schede-info">di <b>{{ selTeam.nome }}</b></span>
         </div>

         <p-table
            *ngIf="tabDestra == 'giocatori'"
            class="db-tabella no-header-table"
            [value]="listaGiocatori"
            [scrollable]="true"
            scrollHeight="flex"
            selectionMode="single"
            dataKey="id"
            [metaKeySelection]="false"
            [(selection)]="selPlayer">
            <ng-template pTemplate="body" let-rowData>
               <tr [pSelectableRow]="rowData">
                  <td *ngFor="let col of colPlayer" [attr.style]="col.style">{{ rowData[col.field] }}</td>
               </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
               <tr><td class="db-vuoto">{{ selTeam ? 'Nessun giocatore in questa squadra' : 'Scegli una squadra' }}</td></tr>
            </ng-template>
         </p-table>

         <p-table
            *ngIf="tabDestra == 'allenatori'"
            class="db-tabella no-header-table"
            [value]="listaAllenatori"
            [scrollable]="true"
            scrollHeight="flex"
            selectionMode="single"
            dataKey="id"
            [metaKeySelection]="false"
            [(selection)]="selCoach">
            <ng-template pTemplate="body" let-rowData>
               <tr [pSelectableRow]="rowData">
                  <td *ngFor="let col of colCoach" [attr.style]="col.style">{{ rowData[col.field] }}</td>
               </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
               <tr><td class="db-vuoto">{{ selTeam ? 'Nessun allenatore in questa squadra' : 'Scegli una squadra' }}</td></tr>
            </ng-template>
         </p-table>

         <ng-container *ngTemplateOutlet="bottoniPannello; context: { $implicit: LivelloDestra() }"></ng-container>
      </div>

   </div>
</div>



<!--  Icone Aggiungi / Modifica / Elimina accanto alle combo  -->
<ng-template #bottoniLivello let-liv>
   <p-button
      icon="pi pi-plus"
      [text]="true"
      [disabled]="!PuoAggiungere(liv)"
      pTooltip="Aggiungi"
      tooltipPosition="top"
      (click)="AddData(liv)"
   ></p-button>
   <p-button
      icon="pi pi-pencil"
      [text]="true"
      [disabled]="!PuoModificare(liv)"
      pTooltip="Modifica"
      tooltipPosition="top"
      (click)="EditData(liv)"
   ></p-button>
   <p-button
      icon="pi pi-trash"
      [text]="true"
      severity="warning"
      [disabled]="!PuoModificare(liv)"
      pTooltip="Elimina"
      tooltipPosition="top"
      (click)="DeleteData(liv)"
   ></p-button>
</ng-template>


<!--  Bottoni sotto le tabelle: agiscono sulla scheda attiva  -->
<ng-template #bottoniPannello let-liv>
   <div class="db-bottoni">
      <p-button label="Aggiungi"
                severity="primary"
                icon="pi pi-plus"
                [disabled]="!PuoAggiungere(liv)"
                (click)="AddData(liv)"
      ></p-button>
      <p-button label="Modifica"
                severity="primary"
                icon="pi pi-pencil"
                [disabled]="!PuoModificare(liv)"
                (click)="EditData(liv)"
      ></p-button>
      <p-button label="Elimina"
                severity="warning"
                icon="pi pi-trash"
                styleClass="db-bottone-destra"
                [disabled]="!PuoModificare(liv)"
                (click)="DeleteData(liv)"
      ></p-button>
   </div>
</ng-template>



<!-----------------------------------------------------------------
               DIALOG AGGIUNGI / MODIFICA (tutti i livelli)
------------------------------------------------------------------>
<p-dialog id="dialog-dato"
          header="{{dialogTitle}}"
          [modal]="true"
          [(visible)]="dialogVisible"
          [closable]="false"
          [style]="{ width: '35rem', padding: '10px', 'background-color': '#1f2937' }">
   <div class="dialog-container">
      <h3 class="dialog-operazione">{{dialogOperazione}}</h3>

      <div class="form-group">
         <label for="dlg-nome">Nome:</label>
         <input type="text"
                id="dlg-nome"
                [(ngModel)]="dialogValue_Nome"
                pInputText
                required/>
      </div>

      <div class="form-group" *ngIf="MostraCampoAbbrev()">
         <label for="dlg-abbrev">Abbrev:</label>
         <input type="text"
                id="dlg-abbrev"
                [(ngModel)]="dialogValue_Abbrev"
                pInputText/>
      </div>

      <ng-container *ngIf="dialogLivello == 'giocatore'">
         <div class="form-group">
            <label for="dlg-numero">Numero:</label>
            <input type="text"
                   id="dlg-numero"
                   [(ngModel)]="dialogValue_Numero"
                   pInputText/>
         </div>

         <div class="form-group">
            <label for="dlg-ruolo">Ruolo:</label>
            <input type="text"
                   id="dlg-ruolo"
                   [(ngModel)]="dialogValue_Ruolo"
                   pInputText/>
         </div>

         <div class="form-group">
            <label for="dlg-anno">Anno:</label>
            <input type="number"
                   id="dlg-anno"
                   [(ngModel)]="dialogValue_Anno"
                   pInputText/>
         </div>

         <div class="form-group">
            <label for="dlg-altezza">Altezza:</label>
            <input type="number"
                   id="dlg-altezza"
                   [(ngModel)]="dialogValue_Altezza"
                   pInputText/>
         </div>
      </ng-container>

      <div *ngIf="dialogErrorMessage" class="dialog-error-message">{{ dialogErrorMessage }}</div>

      <div class="dialog-footer-buttons">
         <button
            pButton
            type="button"
            label="Annulla"
            class="p-button-secondary"
            (click)="DialogAnnulla()"
         ></button>
         <button
            pButton
            type="button"
            label="OK"
            class="p-button-primary"
            (click)="DialogSalva()"
         ></button>
      </div>
   </div>
</p-dialog>
<!--   FINE DIALOG   --->
