
<div id="match-header-form"
     class="form-container">
   <p-card header="{{titoloDiag}}">
      <ng-template pTemplate="content">
         <p-table
            class="custom-header-table"
            styleClass="p-datatable-gridlines"
            [scrollable]="true"
            scrollHeight="680px"
            [value]="listaPlayers"
            selectionMode="multiple"
            [(selection)]="selectedPlayers"
            dataKey="id"
            [metaKeySelection]="false"       >
            <ng-template pTemplate="header">
               <tr>
                  <th>Nome Giocatore</th>
                  <th>Numero</th>
                  <th>Anno</th>
               </tr>
            </ng-template>

            <ng-template pTemplate="body" let-player>
               <tr
                  [pSelectableRow]="player"
               >
                  <td>{{ player.nomedisp }}</td>
                  <td>{{ player.numero }}</td>
                  <td>{{ player.anno }}</td>
               </tr>
            </ng-template>
         </p-table>

         <p style="margin: 3px;">Selezionati {{selectedPlayers.length}} giocatori</p>
         <p-divider styleClass="my-1"></p-divider>

      </ng-template>

      <ng-template pTemplate="footer">
         <div class="flex justify-content-between align-items-center w-full">
            <div class="flex" >
               <button
                  pButton
                  type="button"
                  label="Nuovo"
                  class="p-primary"
                  icon="pi pi-plus"
                  (click)="CreateNewPlayer()"
               ></button>
            </div>
            <div class="flex dialog-footer-buttons">
               <button
                  pButton
                  type="button"
                  label="Annulla"
                  class="p-button-secondary"
                  (click)="Annulla()"
               ></button>
               <button
                  pButton
                  type="button"
                  label="OK"
                  class="p-button-primary"
                  (click)="Salva()"
               ></button>
            </div>
         </div>
      </ng-template>
   </p-card>
</div>



<!-----------------------------------------------------------------
               DIALOG PLAYER-EDIT
------------------------------------------------------------------>
<p-dialog id="dialog-player-edit"
          [modal]="true"
          [(visible)]="dialogVisible_PlayerEdit"
          [closable]="false"
          (onShow)="onPlayerEditComponentShow()"
          [style]="{ width: '500px', height: '480px', padding: '10px', 'background-color': '#1f2937' }">
   <div>
      <app-player-edit-comp
         (salvaPlayer)="salvaPlayerEdit($event)"
         (annullaPlayer)="annullaPlayerEdit()"
      ></app-player-edit-comp>
   </div>
</p-dialog>
<!--   FINE DIALOG PLAYER-EDIT   --->
