.app-container {
   display: flex;
   flex-direction: column;
   height: 100vh;
   overflow: hidden;
}

.content {
   flex-grow: 1;
   padding-bottom: 90px;
}

.app-footer {
   background-color: #1f2937;
   border: 1px solid #424b57;
   border-radius: 5px;
   margin: 5px;
   /*
   color: #495057;
   border-top: 1px solid #dee2e6;
   */
   text-align: center;
   padding: 10px;
   box-sizing: border-box;
   flex: 0 0 auto;
   height: 60px;
}


.mnu-button {
   padding: 5px !important;
   margin: 2px !important;
}

.router-container {
   flex: 1 1 auto;
   min-height: 0;
   overflow-y: auto;
   overflow-x: hidden;
}

::ng-deep .icona-rossa .p-menuitem-icon {
   color: #FF0000 !important;
}

::ng-deep .icona-arancio .p-menuitem-icon {
   color: #FF8800 !important;
}

::ng-deep .icona-gialla .p-menuitem-icon {
   color: #FFFF00 !important;
}

::ng-deep .icona-default .p-menuitem-icon {
   color: #9a65f8 !important;
}

::ng-deep .icona-verde .p-menuitem-icon {
   color: #55FF55 !important;
}

::ng-deep .icona-blu .p-menuitem-icon {
   color: #0062f6 !important;
}

::ng-deep .icona-azzurra .p-menuitem-icon {
   color: #00ffff !important;
}
