
<div class="app-container">
   <div class="login-container">
      <!--
      <img src="/assets/ResScheduler.jpg" alt="Logo dell'applicazione"  width="15%">
      -->
      <h1>Login</h1>
      <div class="form-group">
         <label for="username">Utente:</label>
         <input type="text" id="username" [(ngModel)]="username" pInputText>
      </div>
      <div class="form-group">
         <label for="password">Password:</label>
         <input type="password" id="password" [(ngModel)]="password" pInputText>
      </div>
      <button pButton label="Login" (click)="login()"></button>
      <div *ngIf="loginFailed" class="error-message">Credenziali non valide.</div>
   </div>
</div>
