
::ng-deep #table-azioni .p-datatable-thead > tr > th {
   font-size: 0.8rem;
   padding: 4px 8px;
}

::ng-deep #table-azioni .p-datatable-tbody > tr > td {
   font-size: 0.8rem;
   padding: 2px 8px;
}

::ng-deep #table-azioni .p-datatable-tbody > tr > td .p-button {
   width: 1.8rem;
   height: 1.8rem;
   padding: 0;
}

.div-azioni-content {
   display: flex;
   flex-direction: column;
   height: 100%;
}

::ng-deep .table-azioni-flex {
   display: flex;
   flex-direction: column;
   flex: 1 1 auto;
   min-height: 0;
}

.div-azioni-footer {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 40px;
   flex: 0 0 auto;
   margin-top: 10px;
}

.oper-tmcr-my {
   color: red;
}

.oper-tmcr-oppo {
   color: #ab7a39;
}

.oper-tmcr-default {
   color: white;
}

.oper-bg-made {
   background-color: #344d34;
}

.oper-bg-missed {
   background-color: #523737;
}

.oper-bg-sostituz {
   background-color: #003970;
}

.oper-bg-quintetto {
   background-color: #007070;
}
