<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /code/bbs/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /code/bbs/index.html [L]
</IfModule>
