
<div class="div-tempigioco-content">
   <div class="div-tempigioco-columns">
      <div class="div-tempigioco-column"
           *ngFor="let team of tempiGiocoTeams">
         <div class="div-tempigioco-title"
              [ngStyle]="{ 'background-color': team.teamColor, 'color': GetContrastTextColor(team.teamColor) }">{{ team.teamName }}</div>
         <div class="div-tempigioco-lista">
            <div class="div-tempigioco-item"
                 *ngFor="let row of team.rows">
               <span class="tempigioco-playname">{{ row.player.playNumber() }} {{ row.player.playName() }}</span>
               <p-inputMask styleClass="tempigioco-time-input"
                            [(ngModel)]="row.timeStr"
                            mask="99:99"
                            placeholder="mm:ss"
                            (onComplete)="OnTempiGiocoTimeChange(row)"
                            (onBlur)="OnTempiGiocoTimeChange(row)">
               </p-inputMask>
            </div>
         </div>
         <div class="div-tempigioco-totale">{{ GetTempiGiocoTotaleStr(team.rows) }}</div>
      </div>
   </div>
   <div class="div-tempigioco-footer">
      <p-button label="Annulla"
                icon="pi pi-times"
                severity="secondary"
                (onClick)="BtnAnnulla()">
      </p-button>
      <p-button label="Ok"
                icon="pi pi-check"
                severity="success"
                (onClick)="BtnOk()">
      </p-button>
   </div>
</div>
